

body {
	background-image: url(taco-spread.jpg);
	background-size: cover;
}

a.name {
	font-family: Inknut Antiqua, serif;
	font-size: 36px;
	color: white;
	margin: 20px 0px 0px 70px;
}

a {
	text-decoration: none;
}

a.navlinks {
	margin: 0px 0px 0px 0px;
	text-align: right;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: white;

}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: white;
	margin: 24px 24px 24px 24px;
	padding-left: 50px;
	padding-right: 50px;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: white;
	text-align: center;
}

h2.menu {
	text-align: center;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	color: white;
	text-align: center;

}

